# Delphi build/output
Win32/
Win64/
*.dcu
*.exe
*.local
*.identcache
*.stat
*.dsk
__history/
__recovery/

# logs/pdf gerados
AssinarPDF/PDFAssinados/
PDF_Assinados/
*.log
*.~dsk
*.res

# JSignPdf runtime local (muito grande para GitHub)
AssinarPDF/BIN/runtime/
